@model IEnumerable<ServiceVM>


<section id="pageHeader">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="txt text-center">
                        <div class="sec-header">
                            <h2>Services<span>.</span></h2>
                            <p><a asp-controller="Services" asp-action="Index">Services</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="services">
   
        <div class="row">
        @foreach (var item in Model)
        {
            string imagepath = "/img/ServiceImage/" + item.ImageName;
            <div class="col-4">
                <h4>@item.Title</h4>
                <img src="@imagepath" />
                <h5>@item.Description</h5>
            </div>  
          
        }
        </div>


</div>
