@{
    ViewData["Title"] = "Privacy Policy";
}
@* @section Footer{
     hello section banyo.
 }

 @section Alert{
     Alert Alert
 }*@
<!-- ======================================== HOME SECTION ======================================== -->
<section id="homeSection">
    <div class="owl-carousel">
        <div class="slider-box slider-box1">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="txt-box">
                                <div class="txt-area">
                                    <p>WELCOME TO OUR AGENCY</p>
                                    <h1>SMART WEB DEVELOPMENT AGENCY</h1>
                                    <a href="#" class="btn layer-btn">DISCOVER MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-box slider-box2">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="txt-box" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                                <div class="txt-area">
                                    <p>WE CREATE IDEAS</p>
                                    <h1>BUILD STUNNING WEBSITE WITH US</h1>
                                    <a href="#" class="btn layer-btn">DISCOVER MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h5>
   @{
        ViewBag.Message = "Your contact page.";

   }
</h5>
@*<partial name="_Notification"></partial>*@



